{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "PREFIX API DO WYWOŁYWANIA USŁUGI",
      "url": "https://app.fakturomania.pl/api/v1"
    }
  ],
  "info": {
    "description": "Fakturomania API V1 \n\nPrzed implementacją należy zweryfikować poprawność wprowadzanych dat w sekcji pozostałe",
    "version": "1.0.0",
    "title": "Fakturomania API",
    "contact": {
      "email": "luk.pniewski@fakturomania.pl"
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Sposób logowania się do serwisu"
    },
    {
      "name": "Kontrahenci",
      "description": "Kontrahenci"
    },
    {
      "name": "Produkty",
      "description": "Produkty"
    },
    {
      "name": "Faktury sprzedażowe",
      "description": "Faktury sprzedażowe"
    },
    {
      "name": "Pozostałe",
      "description": "Pozostałe"
    }
  ],
  "paths": {
    "/session": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Uzyskanie Auth-Token do dalszych operacji",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contractors/{contractorId}": {
      "get": {
        "tags": [
          "Kontrahenci"
        ],
        "summary": "Pobieranie informacji o kontrahencie",
        "parameters": [
          {
            "in": "header",
            "name": "Auth-Token",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Auth-Token z authentication"
          },
          {
            "in": "path",
            "name": "contractorId",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Id kontrahenta"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Kontrahenci"
        ],
        "summary": "Aktualizacja istniejącego kontrahenta",
        "parameters": [
          {
            "in": "header",
            "name": "Auth-Token",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Auth-Token z authentication"
          },
          {
            "in": "path",
            "name": "contractorId",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Id kontrahenta"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contractors": {
      "post": {
        "tags": [
          "Kontrahenci"
        ],
        "summary": "Tworzenie kontrahenta",
        "parameters": [
          {
            "in": "header",
            "name": "Auth-Token",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Auth-Token z authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractorRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice-product/get/{invoiceProductId}": {
      "get": {
        "tags": [
          "Produkty"
        ],
        "summary": "Pobieranie informacji o produkcie",
        "parameters": [
          {
            "in": "header",
            "name": "Auth-Token",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Auth-Token z authentication"
          },
          {
            "in": "path",
            "name": "invoiceProductId",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Id produktu"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice-product/create": {
      "post": {
        "tags": [
          "Produkty"
        ],
        "summary": "Tworzenie produktu",
        "parameters": [
          {
            "in": "header",
            "name": "Auth-Token",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Auth-Token z authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice-product/update/{invoiceProductId}": {
      "post": {
        "tags": [
          "Produkty"
        ],
        "summary": "Aktualizacja produktu",
        "parameters": [
          {
            "in": "header",
            "name": "Auth-Token",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Auth-Token z authentication"
          },
          {
            "in": "path",
            "name": "invoiceProductId",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Id produktu"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sale": {
      "post": {
        "tags": [
          "Faktury sprzedażowe"
        ],
        "summary": "Tworzenie faktury sprzedażowej",
        "parameters": [
          {
            "in": "header",
            "name": "Auth-Token",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Auth-Token z authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/utility/date-validation": {
      "get": {
        "tags": [
          "Pozostałe"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Auth-Token",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Auth-Token z authentication"
          },
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": 1596416400000,
            "description": "Data w formacie UNIX * 1000"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DateValidationResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthenticationRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "user@fakturomania.pl",
            "description": "Email do zalogowania w serwisie"
          },
          "password": {
            "type": "string",
            "example": "userPassword",
            "description": "Hasło do logowania w serwisie"
          },
          "remember": {
            "type": "boolean",
            "example": true,
            "description": "Informamacja czy zapamiętać token. Token będzie mieć dłuższą ważność po wybraniu tej opcji"
          }
        },
        "required": [
          "email",
          "password",
          "remember"
        ]
      },
      "AuthenticationResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "example": "idToken",
            "description": "Token, który będzie wykorzystywany do dalszych wywołań API jako value do headera Auth-Token"
          },
          "userEmail": {
            "type": "string",
            "example": "user@fakturomania.pl",
            "description": "Email podany przy rejestracji w serwisie"
          },
          "userLoginEmail": {
            "type": "string",
            "example": "user@fakturomania.pl",
            "description": "Email wykorzystywany do logowania w serwisie"
          },
          "valid": {
            "type": "integer",
            "example": 1600773092516,
            "description": "Data ważności tokena w UNIX"
          }
        }
      },
      "ContractorResponse": {
        "type": "object",
        "properties": {
          "contractorId": {
            "type": "integer",
            "example": 123,
            "description": "Id kontrahenta"
          },
          "contractorVersionId": {
            "type": "integer",
            "example": 456,
            "description": "Id wersji kontrahenta"
          },
          "name": {
            "type": "string",
            "example": "Firma Testowa Sp. z o.o.",
            "description": "Nazwa kontrahenta"
          },
          "nipPrefix": {
            "type": "string",
            "example": "PL",
            "description": "Prefix Nip 2-znakowy"
          },
          "nip": {
            "type": "string",
            "example": "644-340-68-04",
            "description": "Nip kontrahenta"
          },
          "street": {
            "type": "string",
            "example": "ul. gen. Stefana Grota-Roweckiego 38",
            "description": "Ulica wraz z numerem budynku i lokalu"
          },
          "postalCode": {
            "type": "string",
            "example": "41-214",
            "description": "Kod pocztowy"
          },
          "postalCity": {
            "type": "string",
            "example": "Sosnowiec",
            "description": "Miasto poczty"
          },
          "customerAccountId": {
            "type": "integer",
            "example": 123,
            "description": "Id konta księgowego kontrahenta jako odbiorcy"
          },
          "supplierAccountId": {
            "type": "integer",
            "example": 124,
            "description": "Id konta księgowego kontrahenta jako dostawcy"
          }
        },
        "required": [
          "contractorId",
          "contractorVersionId",
          "name",
          "nip",
          "street",
          "postalCode",
          "postalCity",
          "customerAccountId",
          "supplierAccountId"
        ]
      },
      "ContractorRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Firma Testowa Sp. z o.o.",
            "description": "Nazwa kontrahenta"
          },
          "nipPrefix": {
            "type": "string",
            "example": "PL",
            "description": "Prefix Nip 2-znakowy"
          },
          "nip": {
            "type": "string",
            "example": "644-340-68-04",
            "description": "Nip kontrahenta"
          },
          "street": {
            "type": "string",
            "example": "ul. gen. Stefana Grota-Roweckiego 38",
            "description": "Ulica wraz z numerem budynku i lokalu"
          },
          "postalCode": {
            "type": "string",
            "example": "41-214",
            "description": "Kod pocztowy"
          },
          "postalCity": {
            "type": "string",
            "example": "Sosnowiec",
            "description": "Miasto poczty"
          }
        },
        "required": [
          "name",
          "nip",
          "street",
          "postalCode",
          "postalCity"
        ]
      },
      "ProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Usługa księgowa",
            "description": "Nazwa produktu"
          },
          "classificationCode": {
            "type": "string",
            "example": "69.20.2",
            "description": "Kod CN / PKOB"
          },
          "unit": {
            "type": "string",
            "example": "szt",
            "description": "Jednostka miary"
          },
          "quantity": {
            "type": "number",
            "example": 1,
            "description": "Ilość"
          },
          "netPrice": {
            "type": "number",
            "example": 100,
            "description": "cena netto"
          },
          "netValue": {
            "type": "number",
            "example": 100,
            "description": "Kwota netto"
          },
          "vatRate": {
            "type": "string",
            "enum": [
              "23%",
              "8%",
              "5%",
              "0%",
              "zw.",
              "np."
            ],
            "example": "23%",
            "description": "Stawka VAT"
          },
          "vatValue": {
            "type": "string",
            "example": 23,
            "description": "Wartość VAT"
          },
          "grossValue": {
            "type": "string",
            "example": 123,
            "description": "Wartość brutto"
          },
          "GTU": {
            "type": "string",
            "example": "GTU_12",
            "description": "Kod GTU"
          }
        },
        "required": [
          "name",
          "unit",
          "quantity",
          "netPrice",
          "netValue",
          "vatRate",
          "vatValue",
          "grossValue"
        ]
      },
      "ProductResponse": {
        "type": "object",
        "description": "Struktura odpowiedzi produktu",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1,
            "description": "Nr id produktu"
          },
          "versionId": {
            "type": "integer",
            "example": 22,
            "description": "Nr id wersji produktu"
          },
          "versionUUID": {
            "type": "string",
            "example": "cc91dd3a-bd0b-4e0a-ac48-32950e81d528",
            "description": "UUID produktu"
          },
          "created": {
            "type": "integer",
            "example": 1600773092516,
            "description": "Data utworzenia produktu"
          },
          "organizationId": {
            "type": "integer",
            "example": 100,
            "description": "Nr firmy, której dotyczy produkt"
          },
          "modified": {
            "type": "integer",
            "example": 1600773092516,
            "description": "Data ostatniej modyfikacji produktu"
          },
          "name": {
            "type": "string",
            "example": "Usługa księgowa",
            "description": "Nazwa produktu"
          },
          "classificationCode": {
            "type": "string",
            "example": "69.20.2",
            "description": "Kod CN / PKOB"
          },
          "unit": {
            "type": "string",
            "example": "szt",
            "description": "Jednostka miary"
          },
          "quantity": {
            "type": "number",
            "example": 1,
            "description": "Ilość"
          },
          "netPrice": {
            "type": "number",
            "example": 100,
            "description": "cena netto"
          },
          "netValue": {
            "type": "number",
            "example": 100,
            "description": "Kwota netto"
          },
          "vatRate": {
            "type": "string",
            "enum": [
              "23%",
              "8%",
              "5%",
              "0%",
              "zw.",
              "np."
            ],
            "example": "23%",
            "description": "Stawka VAT"
          },
          "vatValue": {
            "type": "string",
            "example": 23,
            "description": "Wartość VAT"
          },
          "grossValue": {
            "type": "string",
            "example": 123,
            "description": "Wartość brutto"
          },
          "GTU": {
            "type": "string",
            "example": "GTU_12",
            "description": "Kod GTU"
          },
          "isCurrent": {
            "type": "boolean",
            "example": true,
            "description": "Informacja czy jest to aktualna wersja produktu"
          },
          "deleted": {
            "type": "boolean",
            "example": false,
            "description": "Informacja czy produkt jest usunięty"
          }
        }
      },
      "InvoiceRequest": {
        "type": "object",
        "description": "Struktura requesta do tworzenia faktury",
        "properties": {
          "documentName": {
            "type": "string",
            "example": "FVS 1/12/2020",
            "description": "Numer dokumentu, Empty string jeśli documentNameIsCustom = true"
          },
          "documentNameIsCustom": {
            "type": "boolean",
            "example": true,
            "description": "Jeśli wybrana będzie opcja false, numer faktury zostanie automatycznie nadany"
          },
          "saleDate": {
            "type": "integer",
            "example": 1503885600000,
            "description": "Data sprzedaży"
          },
          "issueDate": {
            "type": "integer",
            "example": 1503885600000,
            "description": "Data wystawienia dokumentu"
          },
          "contractor": {
            "type": "object",
            "description": "Dane kontrahenta na fakturze",
            "properties": {
              "contractorId": {
                "type": "integer",
                "example": 178,
                "description": "Id kontrahenta"
              },
              "contractorVersionId": {
                "type": "integer",
                "example": 188,
                "description": "Id wersji kontrahenta"
              }
            },
            "required": [
              "contractorId",
              "contractorVersionId"
            ]
          },
          "records": {
            "type": "array",
            "description": "Pozycje faktury. W przypadku braku podania Id produktu oraz Id wersji produktu nie będzie powiązania z produktem, co oznacza że brak będzie informacji o GTU",
            "items": {
              "type": "object",
              "properties": {
                "ordinal": {
                  "type": "integer",
                  "example": 1,
                  "description": "Nr pozycji na fakturze"
                },
                "name": {
                  "type": "string",
                  "example": "Najem lokalu za miesiąc czerwiec",
                  "description": "Nazwa pozycji"
                },
                "unit": {
                  "type": "string",
                  "example": "szt",
                  "description": "Jednostka miary"
                },
                "quantity": {
                  "type": "number",
                  "example": 2,
                  "description": "Ilość"
                },
                "netPrice": {
                  "type": "number",
                  "example": 50,
                  "description": "cena netto"
                },
                "netValue": {
                  "type": "number",
                  "example": 100,
                  "description": "Kwota netto"
                },
                "vatRate": {
                  "type": "string",
                  "enum": [
                    "23%",
                    "8%",
                    "5%",
                    "0%",
                    "zw.",
                    "np."
                  ],
                  "example": "23%",
                  "description": "Stawka VAT"
                },
                "vatValue": {
                  "type": "number",
                  "example": 23,
                  "description": "Kwota vat"
                },
                "grossValue": {
                  "type": "number",
                  "example": 123,
                  "description": "Kwota brutto"
                },
                "invoiceProductId": {
                  "type": "integer",
                  "example": 1,
                  "description": "Id produktu. W przypadku braku podania nie będzie powiązania z produktem (GTU)"
                },
                "invoiceProductVersionId": {
                  "type": "integer",
                  "example": 22,
                  "description": "Id wersji produktu. W przypadku braku podania nie będzie powiązania z produktem (GTU)"
                }
              },
              "required": [
                "ordinal",
                "name",
                "quantity",
                "netPrice",
                "netValue",
                "vatRate",
                "vatValue",
                "grossValue"
              ]
            }
          },
          "buyerName": {
            "type": "string",
            "example": "Jan Kupujący",
            "description": "Kupujący"
          },
          "sellerName": {
            "type": "string",
            "example": "Jan Sprzedający",
            "description": "Sprzedający"
          },
          "comments": {
            "type": "string",
            "example": "Towar objęty 12 miesięczną gwarancą",
            "description": "Uwagi"
          },
          "paymentInfo": {
            "type": "object",
            "description": "Informacje o płatności",
            "properties": {
              "paymentDeadline": {
                "type": "integer",
                "example": 1503885600000,
                "description": "Termin płatności"
              },
              "paymentMethod": {
                "type": "string",
                "enum": [
                  "CASH",
                  "CASHONDELIVERY",
                  "BANKTRANSFER",
                  "CARDPAYMENT",
                  "ONLINEPAYMENT"
                ],
                "example": "CASH",
                "description": "Forma płatności"
              },
              "paymentStatus": {
                "type": "string",
                "enum": [
                  "UNPAID",
                  "PARTLYPAID",
                  "PAID"
                ],
                "example": "PARTLYPAID",
                "description": "Status płatności"
              },
              "paymentDate": {
                "type": "integer",
                "example": 1503885600000,
                "description": "Data faktycznej płatności. Tylko dla PAID oraz PARTLYPAID"
              },
              "amountPaid": {
                "type": "number",
                "example": 100.12,
                "description": "Kwota płatności. Tylko dla PARTLYPAID"
              }
            },
            "required": [
              "paymentDeadline",
              "paymentMethod",
              "paymentStatus"
            ]
          },
          "bankName": {
            "type": "string",
            "example": "Bank Name",
            "description": "Nazwa banku"
          },
          "bankAccountNumber": {
            "type": "string",
            "example": "33 3333 3333 3333 3333 3333 3333",
            "description": "Numer rachunku bankowego"
          },
          "invoiceTaxInfo": {
            "type": "object",
            "description": "Informacje podatkowe",
            "properties": {
              "vatSaleArt23": {
                "type": "boolean",
                "example": false,
                "description": "SPRZEDAŻ WYSYŁKOWA Z TERYTORIUM KRAJU O KTÓREJ MOWA W ART 23 USTAWY"
              },
              "vatSaleArt28K": {
                "type": "boolean",
                "example": false,
                "description": "SWIADCZENIE USŁUG TELEKOMUNIKACYJNYCH, NADAWCZYCH I ELEKTRONICZNYCH O KTÓRYCH MOWA W ART 28K USTAWY"
              },
              "vatRelatedEntitiesArt32Ust2Pkt1": {
                "type": "boolean",
                "example": false,
                "description": "ISTNIEJĄCE POWIĄZANIA MIĘDZY NABYWCĄ A DOKONUJĄCYM DOSTAWY TOWARÓW O KTÓRYCH MOWA W ART 32 UST2 PKT1"
              },
              "vatSplitPaymentMechanismMPP": {
                "type": "boolean",
                "example": false,
                "description": "INFORMACJA O STOSOWANIU MECHANIZMU PODZIELONEJ PŁATNOŚCI (MPP - OD LISTOPADA 2019)"
              }
            }
          }
        },
        "required": [
          "documentName",
          "documentNameIsCustom",
          "saleDate",
          "issueDate",
          "contractor",
          "records",
          "paymentInfo"
        ]
      },
      "InvoiceResponse": {
        "type": "object",
        "description": "Struktura odpowiedzi",
        "properties": {
          "invoiceDetails": {
            "type": "object",
            "description": "Szczegóły faktury",
            "properties": {
              "invoiceId": {
                "type": "integer",
                "example": 12,
                "description": "Id faktury"
              },
              "versionUuid": {
                "type": "string",
                "example": "b8a942d6-e973-47fb-ae03-ca258c7b3e93",
                "description": "UUID faktury"
              },
              "versionId": {
                "type": "integer",
                "example": 123,
                "description": "Id wersji faktury"
              },
              "created": {
                "type": "integer",
                "example": 1503885600000,
                "description": "Data utworzenia dokumentu"
              },
              "modified": {
                "type": "integer",
                "example": 1503885600000,
                "description": "Data ostatniej modyfikacji dokumentu"
              },
              "documentType": {
                "type": "string",
                "example": "FVS",
                "description": "Typ dokumentu - typ wewnętrzny"
              },
              "state": {
                "type": "string",
                "example": "NEW",
                "description": "Stan dokumentu - typ wewnętrzny"
              }
            }
          },
          "invoiceInfo": {
            "type": "object",
            "description": "Informacje podstawowe o fakturze",
            "properties": {
              "documentName": {
                "type": "string",
                "example": "FVS 1/12/2020",
                "description": "Nr dokumentu"
              },
              "documentNameIsCustom": {
                "type": "boolean",
                "example": true,
                "description": "Informacja czy nr dokumentu był manualnie nadany"
              },
              "saleDate": {
                "type": "integer",
                "example": 1503885600000,
                "description": "Data sprzedaży"
              },
              "issueDate": {
                "type": "integer",
                "example": 1503885600000,
                "description": "Data wystawienia dokumentu"
              },
              "bankName": {
                "type": "string",
                "example": "Bank Name",
                "description": "Nazwa banku"
              },
              "bankAccountNumber": {
                "type": "string",
                "example": "33 3333 3333 3333 3333 3333 3333",
                "description": "Numer rachunku bankowego"
              },
              "buyerName": {
                "type": "string",
                "example": "Jan Kupujący",
                "description": "Kupujący"
              },
              "sellerName": {
                "type": "string",
                "example": "Jan Sprzedający",
                "description": "Sprzedający"
              },
              "comments": {
                "type": "string",
                "example": "Towar objęty 12 miesięczną gwarancą",
                "description": "Uwagi"
              }
            }
          },
          "contractorInfo": {
            "type": "object",
            "description": "Informacje o kontrahencie na fakturze",
            "properties": {
              "contractorId": {
                "type": "integer",
                "example": 123,
                "description": "Id kontrahenta"
              },
              "contractorVersionId": {
                "type": "integer",
                "example": 456,
                "description": "Id wersji kontrahenta"
              },
              "name": {
                "type": "string",
                "example": "Firma Testowa Sp. z o.o.",
                "description": "Nazwa kontrahenta"
              },
              "nipPrefix": {
                "type": "string",
                "example": "PL",
                "description": "Prefix Nip 2-znakowy"
              },
              "nip": {
                "type": "string",
                "example": "644-340-68-04",
                "description": "Nip kontrahenta"
              },
              "street": {
                "type": "string",
                "example": "ul. gen. Stefana Grota-Roweckiego 38",
                "description": "Ulica wraz z numerem budynku i lokalu"
              },
              "postalCode": {
                "type": "string",
                "example": "41-214",
                "description": "Kod pocztowy"
              },
              "postalCity": {
                "type": "string",
                "example": "Sosnowiec",
                "description": "Miasto poczty"
              },
              "customerAccountId": {
                "type": "integer",
                "example": 123,
                "description": "Id konta księgowego kontrahenta jako odbiorcy"
              },
              "supplierAccountId": {
                "type": "integer",
                "example": 124,
                "description": "Id konta księgowego kontrahenta jako dostawcy"
              }
            }
          },
          "recordsInfo": {
            "type": "object",
            "description": "Informacje dotyczące pozycji na fakturze",
            "properties": {
              "amountNet": {
                "type": "number",
                "example": 100,
                "description": "Całkowita kwota netto"
              },
              "amountGross": {
                "type": "number",
                "example": 123,
                "description": "Całkowita kwota brutto"
              },
              "records": {
                "type": "array",
                "description": "Pozycje faktury",
                "items": {
                  "type": "object",
                  "properties": {
                    "ordinal": {
                      "type": "integer",
                      "example": 1,
                      "description": "Nr pozycji na fakturze"
                    },
                    "name": {
                      "type": "string",
                      "example": "Najem lokalu za miesiąc czerwiec",
                      "description": "Nazwa pozycji"
                    },
                    "unit": {
                      "type": "string",
                      "example": "szt",
                      "description": "Jednostka miary"
                    },
                    "quantity": {
                      "type": "number",
                      "example": 2,
                      "description": "Ilość"
                    },
                    "netPrice": {
                      "type": "number",
                      "example": 50,
                      "description": "cena netto"
                    },
                    "netValue": {
                      "type": "number",
                      "example": 100,
                      "description": "Kwota netto"
                    },
                    "vatRate": {
                      "type": "string",
                      "enum": [
                        "23%",
                        "8%",
                        "5%",
                        "0%",
                        "zw.",
                        "np."
                      ],
                      "example": "23%",
                      "description": "Stawka VAT"
                    },
                    "vatValue": {
                      "type": "number",
                      "example": 23,
                      "description": "Kwota vat"
                    },
                    "grossValue": {
                      "type": "number",
                      "example": 123,
                      "description": "Kwota brutto"
                    },
                    "invoiceProductId": {
                      "type": "integer",
                      "example": 1,
                      "description": "Id produktu"
                    },
                    "invoiceProductVersionId": {
                      "type": "integer",
                      "example": 22,
                      "description": "Id wersji produktu"
                    }
                  }
                }
              }
            }
          },
          "paymentInfo": {
            "type": "object",
            "description": "Informacje płatnościowe dotyczące faktury",
            "properties": {
              "paymentDeadline": {
                "type": "integer",
                "example": 1503885600000,
                "description": "Termin ostateczny płatności"
              },
              "paymentDate": {
                "type": "integer",
                "example": 1503885600000,
                "description": "Data ostatniej płatności która miała miejsce"
              },
              "paymentMethod": {
                "type": "string",
                "enum": [
                  "CASH",
                  "CASHONDELIVERY",
                  "BANKTRANSFER",
                  "CARDPAYMENT",
                  "ONLINEPAYMENT"
                ],
                "example": "CASH",
                "description": "Forma płatności"
              },
              "amountTotal": {
                "type": "number",
                "example": 123,
                "description": "Wartość całkowita do uregulowania wynikająca z faktury"
              },
              "amountPaid": {
                "type": "number",
                "example": 100.12,
                "description": "Wartość uregulowana dotychczas"
              },
              "paymentStatus": {
                "type": "string",
                "enum": [
                  "UNPAID",
                  "PARTLYPAID",
                  "PAID"
                ],
                "example": "PARTLYPAID",
                "description": "Status płatności"
              }
            }
          },
          "taxInfo": {
            "type": "object",
            "description": "Informacje podatkowe",
            "properties": {
              "vatReckoningRule": {
                "type": "string",
                "enum": [
                  "ACCRUAL",
                  "CASH"
                ],
                "example": "ACCRUAL",
                "description": "Metoda rozliczenia VAT uwzględniająca ustawienia firmy"
              },
              "vatReckoningRuleOriginal": {
                "type": "string",
                "enum": [
                  "ACCRUAL",
                  "CASH"
                ],
                "example": "ACCRUAL",
                "description": "Metoda rozliczenia VAT wynikająca z faktury"
              },
              "vatExemption": {
                "type": "string",
                "enum": [
                  "noExemption",
                  "subjectiveExemption"
                ],
                "example": "noExemption",
                "description": "Zwolnienie z VAT"
              },
              "vatSaleArt23": {
                "type": "boolean",
                "example": false,
                "description": "SPRZEDAŻ WYSYŁKOWA Z TERYTORIUM KRAJU O KTÓREJ MOWA W ART 23 USTAWY"
              },
              "vatSaleArt28K": {
                "type": "boolean",
                "example": false,
                "description": "SWIADCZENIE USŁUG TELEKOMUNIKACYJNYCH, NADAWCZYCH I ELEKTRONICZNYCH O KTÓRYCH MOWA W ART 28K USTAWY"
              },
              "vatRelatedEntitiesArt32Ust2Pkt1": {
                "type": "boolean",
                "example": false,
                "description": "ISTNIEJĄCE POWIĄZANIA MIĘDZY NABYWCĄ A DOKONUJĄCYM DOSTAWY TOWARÓW O KTÓRYCH MOWA W ART 32 UST2 PKT1"
              },
              "vatSplitPaymentMechanismMPP": {
                "type": "boolean",
                "example": false,
                "description": "INFORMACJA O STOSOWANIU MECHANIZMU PODZIELONEJ PŁATNOŚCI (MPP - OD LISTOPADA 2019)"
              },
              "vatReverseChangeMechanismOO": {
                "type": "boolean",
                "example": false,
                "description": "INFORMACJA O STOSOWANIU MECHANIZMU VAT-U ODWRÓCONEGO (DO LISTOPADA 2019) (ART. 17 UST. 1 PKT 1 I 7)"
              },
              "vatReversedGoodsValue": {
                "type": "number",
                "example": 0,
                "description": "WARTOŚĆ DOSTAW TOWARÓW DO KTÓRYCH MA ZASTOSOWANIE ART. 17 UST. 1 PKT 7 USTAWY (\"oo\" na towary)"
              },
              "vatReversedServicesValue": {
                "type": "number",
                "example": 0,
                "description": "WARTOŚĆ ŚWIADCZONYCH USŁUG DO KTÓRYCH MA ZASTOSOWANIE ART. 17 UST. 1 PKT 8 USTAWY (\"oo\" na usługi)"
              }
            }
          }
        }
      },
      "DateValidationResponse": {
        "type": "string",
        "example": "02-08-2020",
        "description": "Data w formacie: dd-MM-yyyy"
      }
    }
  }
}